@import '../../css/variables';

.coctels__header {
    position: relative;

    &__img {
        position: absolute;
        height: 400px;
        width: 100%;
        overflow: auto;
        background: $darkBrand;
        overflow-y: hidden;
        border-bottom-right-radius: 35.5%;

        img {
            width: 100%;
            opacity: .2;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        height: 400px;
        align-items: center;
        flex-direction: column;
        
        .title {
            font-family: $fontFamilySpe;
            color: $colorBrand;
            font-size: 8.5rem;
            padding: 0rem 1rem 1rem;
            z-index: 1;
        }
    }

    &__btns {
        display: flex;
        justify-content: space-evenly;
        margin-top: 1.5rem;

        &-item {
            border-radius: 3px;
            border: 2px solid $colorBrand;
            background-color: $secondDark;
            color: #00adb5;
            padding: .5rem 2rem;
            transition: background-color 1s ease-out;
            
            &:hover {
                background-color: $darkBrand;
            }
        }
    }

    .coctels__cards {
        justify-content: space-evenly;
        margin-top: 4rem;
    }
}
